

			
		body{font-family: 'Roboto', sans-serif; margin: 0;

			}

		.portfolio{

			width: 1200px; 
			margin: 120px auto; 
			background-color: #e3b270; 
			padding: 60px 40px;
			border-radius: 30px;
			
			}

			iframe{
				  margin: 0 auto;
				  display: block;
				  border-radius: 20px;
				  box-shadow: 0 0 50px 0px #00000036;
				  text-align: center;
				}
				h1{
					margin: 0;
					font-size: 50px;
					text-transform: uppercase;
					letter-spacing: 10px;
					font-weight: 900;
					color: #3f5dff;
				}
				p{
					font-size: 22px;
					font-weight: 300;
					line-height: 1.4;
				}
				.color1{
					color: red;
				}

				}
				.color2{
					color: green;
				}
				mark{
					background:#3e5dff;
					color: #fff;
					padding: 5px 20px;
					display: inline-black;
					border-radius: 18px;
				}

				h2 {

					margin: 0;
					color: white;
					font-size: 100px;
				}

				.section_01{

					background-color: seagreen;
					text-align: center;
					padding: 400px 0;
					background-image: url(../images/image.jpg);
					background-position: bottom;
					background-attachment: fixed;
					background-size: cover;
				}
					.section_02{

					background-color: seagreen;
					text-align: center;
					padding: 400px 0;
					background-image: url(../images/image1.jpg);
					background-position: bottom;
					background-attachment: fixed;
					background-size: cover;
				}
